@active-color: #409eff;

.flow-area {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  &__lineX {
    position: absolute;
    border: 0.5px solid @active-color;
    width: 100%;
    z-index: 9999;
  }

  &__lineY {
    position: absolute;
    border: 0.5px solid @active-color;
    height: 100%;
    z-index: 9999;
  }

  &__container {
    width: 3000px;
    height: 3000px;
    position: relative;
    transition: transform 0.5s ease 0s, transform-origin 0.5s ease 0s;

    &.grid {
      background: url('../images/grid-bg.jpg') repeat left top;
      background-size: 60px 60px;
    }

    &.canScale {
      cursor: url('../images/search.png'), default;
    }

    &.canDrag {
      cursor: grab;
    }

    &.canMultiple {
      cursor: url('../images/multip-pointer.png'), default;
    }
  }

  &__multiple {
    position: absolute;
    border: 1px dashed #31676f;
  }

  &__scale {
    position: absolute;
    top: 10px;
    left: 10px;

    > span {
      display: inline-block;
      text-align: center;
      color: #666;
      padding: 0 4px;
    }
  }

  &__position {
    position: absolute;
    bottom: 0;
    right: 5px;
  }

  .link-active {
    outline: 2px dashed @active-color;
  }
}
